/* style.css */
body {
  margin: 0;
  background-color: #141414; /* Un noir presque pur */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: 2px solid #1a1a1a;
  image-rendering: pixelated; /* Crucial pour le rendu rétro net */
  background-color: #000;
}

/* À corriger pour correspondre au HTML */
#statsContainer {
  position: absolute; /* Pour les placer où tu veux */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #dfd40f;
}

.bar-bg {
  width: 200px;
  height: 20px;
  background-color: #333; /* Fond gris foncé */
  border: 1px solid #555;
}

#hp-fill {
  height: 100%;
  background-color: #ff0000; /* Rouge pour la vie */
  transition: width 0.2s; /* Petit effet fluide ! */
}

#res-fill {
  height: 100%;
  background-color: #00ffff; /* Cyan pour la résolution */
  transition: width 0.1s;
}

#gameOverScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff0000; /* Rouge sang */
  z-index: 100;
}

#gameOverScreen.hidden {
  display: none;
}

#restartButton {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  cursor: pointer;
  font-weight: bold;
}

#restartButton:hover {
  background-color: #ff0000;
  color: #000;
}
